$font-color: (
    home: #F2DFBB,
);

$c-white: #FFF;

$font-size: (
    name: 5rem,
    job: 2.5rem,
    sections: 3rem,
    skills: 1.5rem,
    form: 1.25rem,
    sns: 1.25rem,
);

$background-color: (
    html: #B98A94,
    home: #BF0AB3,
    // about: #2ABF5E,
    skills: #DEDCC5,
    contact: #BDCEDE,
    footer: #738391,
);

$sp-font-threshold: 0.8;
