$font-color: #F2DFBB;

$font-size: (
    name: 5rem,
    job: 2.5rem,
    sections: 3rem,
    skills: 1.5rem,
    form: 1.25rem,
    sns: 1.25rem,
);

$background-color: (
    home: #BF0AB3,
    // about: #2ABF5E,
    skills: #F2BB13,
    contact: #1821D9,
    footer: #04BF55,
);
